# dependencies
/node_modules

# testing
/coverage
/reports

# production
/build
/dist
/.next

# misc
.dccache
.DS_Store
.env
.idea
*-debug.log
*-error.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock
yarn.lock